In [1]:
class MyClass:
    pass

# 이렇게 객체 생성

one = MyClass()  #one에  MyClass 객체 대입됨

In [2]:
print(type(one))

<class '__main__.MyClass'>

In [1]:
class MyClass:
    num_a = 1
     
print(MyClass.num_a)

1

In [2]:
MyClass.num_a = 2
print(MyClass.num_a)

2

In [4]:
class MyClass:
    num_a = 1
    #클래스의 객체 초기화를 위한 메소드 : __init__(self)
    def __init__(self,name, age):  # self는 이 class의 객체를 가리킴 즉 init을 사용할 때에는 self를 제일 앞에 적어 주면 된다. 
        self.name = name
        self.age = age
        
# 위 class의 객체를 다시 생성해보자

two = MyClass('superman',20)
three = MyClass('SeongJin',26)
four = MyClass('GilDong',30)
print(two.name)
print(two.age)
print(three.name)
print(four.age)

superman
20
seongjin
30

In [7]:
# private 함수를 만들기 위해서는 앞 쪽에다가__(언더바)를 두개를 붙여 주면 됩니다.

class MyClass:
    num_a = 1
    def __init__(self, name, age):  # self는 이 class의 객체를 가리킴 즉 init을 사용할 때에는 self를 제일 앞에 적어 주면 된다. 
        self.name = name
        self.age = age
        
    def dothis(self):
        return "내 이름은 {0} 이고, 나이는 {1}이다.".format(self.name, self.age)
    
two = MyClass('superman',20)
two.dothis()

'내 이름은 superman 이고, 나이는 20이다.'

In [9]:
class MyClass:
    num_a = 1
    def __init__(self, name, age):  # self는 이 class의 객체를 가리킴 즉 init을 사용할 때에는 self를 제일 앞에 적어 주면 된다. 
        self.name = name
        self.age = age
    
    # InstanceMehtod
    def dothis(self):
        return "내 이름은 {0} 이고, 나이는 {1}이다.".format(self.name, self.age)
    
    @classmethod
    def do_cmethod(cls):  #class를 한쪽에 넣어 주는 느낌으로
        return "내 번호는 {0} 이다.".format(cls.num_a)  # cls는 num_a를 사용할 수 있다.
    
    @staticmethod
    def do_smethod(val):
        return "내 번호는 {0} 이다.".format(val)
        
    
print(MyClass.do_cmethod())
print(MyClass.do_smethod(12345))

내 번호는 1 이다.
내 번호는 12345 이다.

In [12]:
# 함수의 재저의

class YourClass(MyClass):  #상속을 하고 싶은 class는 ()안에 적어준다.
    #함수를 overiding 해보자
    #do_this를 재정의 해보자
     def dothis(self):
        return "너의 이름은 {0} 이고, 네 나이는 {1}이다.".format(self.name, self.age)

five = YourClass('SeongJIn', 26)  #YourClass에는 없지만 MyClass안에는 적용된다.
print(five.name)
print(five.age)

five.dothis()

# 보통 이제 다른 객체 지향 언어들은 이렇게 함수의 재 정의를 할때 위쪽에다가 
# Overrid라고 적어 준다던지 하지만 Python은 그런 것은 없습니다

SeongJIn
26

'너의 이름은 SeongJIn 이고, 네 나이는 26이다.'

## 모듈

: 변수나 함수나 클래스를 모아놓은 파일 같은 것

In [13]:
import pandas as pd  # 모듈 가져올 때 import 사용함

df = pd.read_csv('Titanic_dataset.csv')

In [16]:
df.head()  #첫 다섯개의 데이터가 보인다 (10) 하면 10개가 보인다.

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## 예외처리

In [18]:
textd_a = 'abcde'
int(textd_a)

# ValueError 발생을 방지하기 위해 예외처리를 한다.

ValueError: invalid literal for int() with base 10: 'abcde'

In [20]:
list_a = []
list_a[0]

IndexError: list index out of range

In [21]:
# try-except 문

try:
    print(list_a.pop(0))
except IndexError:
    print("해당 index 에 값이 존재하지 않습니다.")

해당 index 에 값이 존재하지 않습니다.